# Build / maven artifacts
*.class
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup

# Gradle
build/
.gradle

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ project files
.idea/
*.iml

# vscode
.vscode

# Eclipse
.project
.classpath
.settings
